<h1>To Do List</h1>
<hr />

<!-- loop all of the posts and output some info about them -->
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.name %> -
      <%= link_to 'Show', post_path(post) %> -
      <%= link_to 'Edit', edit_post_path(post) %> -
      <%= link_to 'Delete', post_path(post), method: :delete, data: {confirm: 'Are you sure you want to delete this list?'} %>

      <%= form_for post do |f| %>
        <%= f.label :complete %>
        <%= f.check_box :complete %>
        <br />
      <%= f.submit %>
      <% end %>

    </li>
  <% end %>
</ul>

<%= link_to 'New List Item', new_post_path %>
<!-- <a href='/posts/new'>New Post</a>-->
